.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  color: #36D8B7;
  margin-bottom: 10px;
  font-size: 2.5em;
}

.App-title {
  font-family: 'VT323', monospace;
  font-weight: 100;
  font-size: 2.25em;
  letter-spacing: "5px";
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background-color: #222222;
  color: #36D8B7;
  font-family: 'Roboto', sans-serif;
}
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: #222222;
    color: #36D8B7;
    font-family: 'Roboto', sans-serif;
  }
}

.ui.inverted.segment, .ui.primary.inverted.segment {
  background: #292a2d;
  color: rgba(255,255,255,.9);
  border: 1px solid #3c4043
}
